{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block head_title %}
New -
{% endblock head_title %}

{% block content %}
<div class="min-vh-100">
    <div class="container mt-5 pt-5">
        <br><br>
        <form class="col-lg-6 mx-auto"
            action=""
            method="post">
            {% csrf_token %}
            <span class="small ms-3">YouTube video link</span>
            {{form|crispy}}
            <div class="text-end mx-2">
                <button class="btn btn-outline-dark rounded-pill px-5"
                    type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}