{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block head_title %}
{{object}} -
{% endblock head_title %}

{% block content %}
<div class="container mt-3 border rounded-4 p-5 col-lg-8 mx-auto shadow">
    <p class="display-6">{{object.title}}</p>
    <hr>
    <div class="text-end">
        <p>
            Word count: 
            <span title="word count">{{object.word_count}}</span> |
            Cost per word: 
            <span title="per word">XCD${{object.price_per_word}}</span>
            | Total cost: 
            <span title="cost">XCD${{object.get_cost_of_transcript|floatformat:2}}</span>
            | Length: 
            <span title="time">{{object.video_len}}</span>
        </p>
    </div>
    <hr>
    <div class="px-5">
        <p>{{object.transcribed}}</p>
    </div>
</div>
{% endblock content %}