<div class="container">
    <footer class="py-5">
        <div class="d-flex pt-4 px-5 mt-4 border-top fixed-bottom bg-white">
            <p class="small">&copy; {% now "Y" %} <a
                    class="text-decoration-none text-dark"
                    target="_blank"
                    href="https://swelanauguste.digital/"><u>Swelan Auguste</u></a>,
                All rights reserved.</p>
        </div>

    </footer>

</div>
<div class="fixed-bottom text-end small me-2 text-muted">alpha0.1</div>